<section class="section-hero overlay inner-page bg-image" style="background-image: url(<%= asset_path 'background_header.png' %>)" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">A propos de nous</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Accueil</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>A propos de nous</strong></span>
            </div>
          </div>
        </div>
      </div>
</section>

    <section class="site-section">
      <div class="container">
       
        
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="block__96788">
              <%= image_tag "about-us.jpg", class: 'img-fluid img-shadow' %>
            </div>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Qui sommes-nous ?</h2>
            <p>Spécialistes par choix, nous maîtrisons les spécifités du marché ainsi que les attentes des différents acteurs du secteur.</p>
            <p>Weems & Associates Construction est un cabinet de recrutement intervenant sur les métiers de la construction dans la zone Benelux.</p>
            <p>Notre objectif principal est d’offrir à nos clients un service de qualité, répondant à leurs besoins en recrutement. La finalité étant de développer une relation pérenne avec nos partenaires.</p>
          </div>
        </div>
      </div>
    </section>