.bg-light {
    background-color: #fff !important;
}
.btn.btn-outline-white {
    background: transparent;
    border-width: 2px;
    border-color: #7f848c;
    color: #7f848c;
}

.btn.btn-outline-white:hover {
    background: transparent;
    border-width: 2px;
    border-color: #89ba16;
    color: #89ba16;
}

.btn-admin {
    margin-top: 20px;
}

@media (max-width:575.98px) {
    .btn-outline-white {
        border: 0
    }
    .navbar-nav {
        margin-right: auto !important;
    }
}

@media (min-width:575.98px) {
    .button-send-cv {
        margin-left: 200px;
    }
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}